<div class="intro">
  <p class="text-intro">Tout commence par une idée.</p>
</div>
<div class="animation-part">
  <div class="text-wrapper">
    <p class="ta1">Créons ensemble</p>
    <p class="ta2">Créons ensemble</p>
  </div>
</div>
