<div class="intro">
  <%= render 'shared/intro' %>
</div>
<div class="animation-part">
  <div class="text-wrapper">
    <p class="ta1">Créons ensemble</p>
    <p class="ta2">Créons ensemble</p>
  </div>
</div>
<div class="carousel-part">
  <%= render 'shared/carousel' %>
</div>
<div class="services-part">
  <%= render 'shared/services' %>
</div>
<!--
<div class="form-part">
  <%= render 'shared/form' %>
</div>
-->
<footer class="footer">
  <a class="footer-social" href="http://www.instagram.com/iamsolenne">@iamsolenne</a>
  <a class="footer-mail" href="mailto: solennecarreras@gmail.com">solennecarreras@gmail.com</a>
  <p class="footer-rights">All rights reserved to Solenne Carreras © 2022</p>
</footer>
