<footer class="footer">
  <a class="footer-social" href="http://www.instagram.com/iamsolenne">@iamsolenne</a>
  <a class="footer-mail" href="mailto: solennecarreras@gmail.com">solennecarreras@gmail.com</a>
  <p class="footer-rights">All rights reserved to Solenne Carreras © 2022</p>
</footer>
