<nav class="navbar" data-controller="menu-burger">
  <div>
    <%= link_to "Solenne Carreras", root_path, class: "navbar-title-link" %>
  </div>
  <ul class="navbar-list" data-menu-burger-target='menu'>
    <li><%= link_to "PHOTOGRAPHIE", photographies_path %></li>
    <li><a href="">RETOUCHES</a></li>
    <li><%= link_to "GRAPHISME", graphismes_path %></li>
    <li><%= link_to "CONTACT", contacts_path %></li>
    <li class="navbar-icon">
      <a href="http://instagram.com/iamsolenne" class="navbar-title-link">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
  <span class="openBtn" data-action="click->menu-burger#action" data-menu-burger-target='open'>
    <span class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </span>
  <span class="closeBtn" data-action="click->menu-burger#action" data-menu-burger-target='close'>X</span>
</nav>
