<nav id="myNavbar" class="navbar">
  <div>
    <%= link_to "Solenne Carreras", root_path, class: "navbar-title-link" %>
  </div>
  <ul class="navbar-list">
    <li>PHOTOGRAPHIE</li>
    <li>RETOUCHES</li>
    <li>GRAPHISME</li>
    <li>PRESSE</li>
    <li>
      <a href="http://instagram.com/iamsolenne" class="navbar-title-link">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
  <a href="#" id="openBtn">
    <span class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>
  <a href="#" id="closeBtn" class="close">×</a>
</nav>

