<nav class="navbar">
  <div class="navbar-title">
    <%= link_to "Solenne Carreras", root_path, class: "navbar-title-link" %>
  </div>
  <ul class="navbar-list">
    <li>PHOTOGRAPHIE</li>
    <li>RETOUCHES</li>
    <li>GRAPHISME</li>
    <li>PRESSE</li>
    <li>O</li>
  </ul>
</nav>
