<h2 class="services-part-title">Nos services</h2>
<div class="services-grid" data-controller="image-fadein">
  <div>
    <div class="services-grid-image-container fade-in" data-image-fadein-target='fadeinImageContainer'>
      <%= cl_image_tag("wetransfer_photos-home-page-3-rubriques_2022-12-30_1602/SolenneCarreras_2021_07_Loire_Valley_Lodges_280_1_k02qmd.jpg",
      :raw_transformation => "f_auto,q_50,w_1000,c_fit",
      class: "services-grid-image") %>
    </div>
    <div class="services-description">
      <hr>
      <h3>Photographie</h3>
      <ul>
        <li>Photographie immobilière</li>
        <li>Culinaire & restauration</li>
        <li>Packshots produits</li>
        <li>Évènementiel</li>
      </ul>
      <hr>
    </div>
  </div>
  <div>
    <div class="services-grid-image-container fade-in" data-image-fadein-target='fadeinImageContainer' >
      <%= cl_image_tag("wetransfer_photos-home-page-3-rubriques_2022-12-30_1602/Capture_d_%C3%A9cran_2022-11-24_%C3%A0_11.18.57_mjymlc.png",
      :raw_transformation => "f_auto,q_50,w_1000,c_fit",
      class: "services-grid-image") %>
    </div>
    <div class="services-description">
      <hr>
      <h3>Retouches</h3>
      <ul>
        <li>Photographie immobilière</li>
        <li>Culinaire & restauration</li>
        <li>Packshots produits</li>
        <li>Évènementiel</li>
      </ul>
      <hr>
    </div>
  </div>
  <div>
    <div class="services-grid-image-container fade-in" data-image-fadein-target='fadeinImageContainer'>
      <%= cl_image_tag("wetransfer_photos-home-page-3-rubriques_2022-12-30_1602/Capture_d_%C3%A9cran_2022-11-24_%C3%A0_11.21.52_gqdnm3.png",
      :raw_transformation => "f_auto,q_50,w_1000,c_fit",
      class: "services-grid-image") %>
    </div>
    <div class="services-description">
      <hr>
      <h3>Graphisme</h3>
      <ul>
        <li>Photographie immobilière</li>
        <li>Culinaire & restauration</li>
        <li>Packshots produits</li>
        <li>Évènementiel</li>
      </ul>
      <hr>
    </div>
  </div>
</div>
