<div class="rounded bg-white shadow p-6">
    <h1>Message envoyé!</h1>
    <p>Vous m'avez envoyé un message avec succès. Si nécessaire, je vous répondrai dans les plus brefs délais. En attendant, consultez tous mes derniers articles ci-dessus.</p>
</div>
