<div class="form-part">
    <div class="success-container">
        <h2 class="error-title">Message envoyé!</h2>
        <p>Vous m'avez envoyé un message avec succès. Si nécessaire, je vous répondrai dans les plus brefs délais. En attendant, consultez mon travail en cliquant sur <%= link_to "ce lien", photographies_path %> .</p>
    </div>
</div>
