.animation-part{
  display: flex;
  overflow: hidden;
  position: relative;
}

.animation-gradient-left,
.animation-gradient-right{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%);
}

.animation-gradient-right{
  background: linear-gradient(90deg, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
}

.text-wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  animation: scroll-left 20s linear infinite reverse;

  p{
    padding: 50px 0;
    white-space: nowrap;
    font-size: 30*4px;
    line-height: 1;
  }

  .ta2{
    position: absolute;
    left: -100%;
  }
}

.text-wrapper-contact > p{
  font-size: 20*4px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1300px) {
  .text-wrapper > p{
    font-size: 30*4px;
  }

  .text-wrapper-contact > p{
      font-size: 15*4px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 990px) {
  .text-wrapper > p{
    font-size: 24*4px;
  }

  .text-wrapper-contact > p{
    font-size: 10*4px;
}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 720px) {
  .text-wrapper > p{
    font-size: 18*4px;
  }

  .text-wrapper-contact > p{
    font-size: 8*4px;
}
}

@media screen and (max-width: 550px) {

  .text-wrapper > p{
    font-size: 12*4px;
  }

  .text-wrapper-contact > p{
    font-size: 6*4px;
}
}