$gap: 20px;
$column: 3;

.grid-photos-container{
  line-height: 0;
  padding: 0 100px;
  transition: 0.6s;

  -webkit-column-count: $column;
  -webkit-column-gap: $gap;
  -moz-column-count: $column;
  -moz-column-gap: $gap;
  column-count: $column;
  column-gap: $gap;

  img {
    width: 100%;
    height: auto;
    padding-bottom: $gap; // Fix row-gap
  }
}

.grid-photo-wrapper{
  position: relative;
}

.fade-in{
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.fade-in-visible{
  opacity: 1;
  transform: translateY(0);
}

.linked{
  display: flex; // Strip the margin between buttons
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-decoration: none;

  i{
    background-color: #000;
    font-size: 20px;
    padding: 15px;
    border-radius: 0 0 8px 0;
    color: #fff;

  }
  
  i:hover{
    background-color: #444;
    color: red;
  }
}

#photo-previews{
  display: none;

  *{
    margin-bottom: 0;
  }
}

.content-previews{
  width: 100%;
  height: 120px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}


.file-removal{
  display: none;
}

.photo-preview{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  // max-height: 50px;
  background-size: contain;
  font-size: 50px;
  text-align: bottom;
  vertical-align: middle;
  line-height: 0;
}

.cancel-upload-button{
  display: flex; // Strip the margin between buttons
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-decoration: none;

  i{
    background-color: #000;
    font-size: 12px;
    padding: 5px;
    border-radius: 0 0 4px 0;
    color: #fff;
  }
  
  i:hover{
    cursor: pointer;
    background-color: #444;
    color: red;
  }
}

.cancel-upload-button-new{
  display: flex; // Strip the margin between buttons
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-decoration: none;

  i{
    background-color: #000;
    font-size: 26px;
    padding: 12px;
    border-radius: 0 0 4px 0;
    color: #fff;
  }
  
  i:hover{
    cursor: pointer;
    background-color: #444;
    color: red;
  }
}

.photographie_previews{
  width: 100%;
  height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
}

.photo-image-container{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: bottom;
  vertical-align: middle;
  line-height: 0px;
}

.photographie-image-container{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 600px;
  font-size: 50px;
  text-align: bottom;
  vertical-align: middle;
  line-height: 0px;
}

.preview-photo{
  display: block;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .grid-photos-container {
    -webkit-column-count: $column - 1;
    -webkit-column-gap: $gap / 2;
    -moz-column-count: $column - 1;
    -moz-column-gap: $gap / 2;
    column-count: $column - 1;
    column-gap: $gap / 2;

    img {
      padding-bottom: $gap / 2;
    }
  }
}

@media screen and (max-width: 900px) {
  .grid-photos-container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .grid-photos-container {
    -webkit-column-count: $column - 2;
    -webkit-column-gap: $gap / 2;
    -moz-column-count: $column - 2;
    -moz-column-gap: $gap / 2;
    column-count: $column - 2;
    column-gap: $gap / 2;
  }
}

@media screen and (max-width: 500px) {
  .grid-photos-container{
    padding: 0 25px;
  }
}
