.form-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "degular-regular";
}

.form-row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-samerow{
  display: flex;
  justify-content: space-between;

  .form-row{
    flex-basis: 48%;
  }
}

.form-row textarea{
  resize: vertical;
}

.form-row input,
.form-row textarea{
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;

  &:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
  }
}

.form-row textarea{
  min-height: 150px;
  max-height: 350px;
}

.form-contact{ 
  width: 500px;
}

.form-submit-button{
  padding: 20px 30px;
  background-color: #fff;
  font-size: 1em;
  cursor: pointer;
  color: #000;
  border: 2px solid #000;
  transition: all .2s ease-in-out;

  &:hover{
    color: #fff;
    background-color: #000;
  }
}

@media screen and (max-width: 900px) {
  .form-part{
    margin: 0 50px;
  }
  
  .form-contact{
    width: 100%;
  }

  .form-row input,
  .form-row textarea{
    font-size: 1.4em;
  }

  .form-row textarea{
    min-height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .form-part{
    margin: 0 25px;
  }
}
