$gap: 20px;
$column: 3;

.grid-photos-container {
  line-height: 0;
  padding: 0 100px;

  -webkit-column-count: $column;
  -webkit-column-gap: $gap;
  -moz-column-count: $column;
  -moz-column-gap: $gap;
  column-count: $column;
  column-gap: $gap;

  img {
    width: 100%;
    height: auto;
    padding-bottom: $gap; // Fix row-gap
  }
}

@media screen and (max-width: 1000px) {
  .grid-photos-container {
    -webkit-column-count: $column - 1;
    -webkit-column-gap: $gap / 2;
    -moz-column-count: $column - 1;
    -moz-column-gap: $gap / 2;
    column-count: $column - 1;
    column-gap: $gap / 2;

    img {
      padding-bottom: $gap / 2;
    }
  }
}

@media screen and (max-width: 900px) {
  .grid-photos-container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .grid-photos-container {
    -webkit-column-count: $column - 2;
    -webkit-column-gap: $gap / 2;
    -moz-column-count: $column - 2;
    -moz-column-gap: $gap / 2;
    column-count: $column - 2;
    column-gap: $gap / 2;
  }
}
