.navbar{
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;

  // transition: left 0.5s ease;
  // position: fixed;
  // z-index: 1;
}

.navbar-title-link{
  text-decoration: none;
  color: black;
}

.navbar-list{
  display: flex;
  list-style-type: none;
  justify-content: start;
  align-items: center;

  li{
    font-weight: bold;
    font-size: 0.7em;
    padding: 0px 15px;
  }
}

li > a{
  text-decoration: none;
  color: black;
}

/* Burger icon */
.burger-icon > span{
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#openBtn,
#closeBtn{
  display: none;
}

.close{
  font-size: 36px;
}


@media screen and (max-width: 1100px) {
  #openBtn{
    display: block;
  }

  .navbar{
    align-items: flex-start;
  }

  .navbar-list{
    display: none;

    li{
      padding: 0;
    }
  }

  .navbar-list.active{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 139px); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 100px 100px;
    font-size: 18px*4;
    background-color: #fff;
  }
}

@media screen and (max-width: 900px) {
  .navbar{
    padding: 25px 50px;
  }

  .navbar-list.active{
    height: calc(100vh - 89px); 
  }
}

@media screen and (max-width: 600px) {
  .navbar{
    padding: 25px 50px;
  }

  .navbar-list.active{
    font-size: 12px*4;
  }
}

