.photographie-container{
  margin: 0 100px;
  display: flex;
  justify-content: center;
}

.photographie-show{
  .photographie-container{
    justify-content: start;
  }
}

.photographie-container-elements{
  display: flex;
  flex-direction: column;
}

.photographie-buttons-container{
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  // padding: 15px 0;
  margin-bottom: calc((15px * 2) - 8px);
}

.photographie-add-button{
  padding: 15px 25px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  transition: all .2s ease-in-out;

  &:hover{
    color: #000;
    background-color: #bbb;
    // box-shadow: inset 0 0 3px #000;
  }
}

.photographie-grid-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographie-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px 35px;
  width: 100%;

  a{
    text-decoration: none;
    color: #000;
  }
}

.photographie-grid-element{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photographie-grid-wrapper{
  position: relative;
}

.photographie-photo-name{
  font-size: 1.5em;
  padding: 20px 0;
  height: 20%;
}

.photographie-photo-container{
  position: relative;
  overflow: hidden;
  height: 250px;
}

.photographie-photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.photographie-grid-element:hover{
  .photographie-photo {
    transform: scale(1.1);
  }
}

.photographie-show-intro{
  position: relative;
  height: 600px;
  margin-bottom: calc(15px *2);
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    font-family: "swear-display-thin";
    position: absolute;
    right: 30%;
    left: 100px;
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.2;
    text-shadow: 0px 0px 8px black;
  }

  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.delete-photographie-button{
  position: absolute;
}

.photographie-navigation{
  display: flex;
  margin: 80px 0;

  a{
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
  }

  a:hover{
    color: #bbb;
  }
}

.photographie-navigation-previous{
  margin-left: 100px;
}

.photographie-navigation-next{
  margin-right: 100px;
}

.photographie-navigation-push-between{
  justify-content: space-between;
}

.photographie-navigation-push-right{
  justify-content: end;
}

@media screen and (max-width: 1200px)  {
  .photographie-navigation{
    margin: 40px 0;

    a{
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .photographie-show-intro {
    height: 400px;

    p{
      right: 50px;
      left: 50px;
    }
  }

  .photographie-container{
    margin: 0 50px;
  }

  .photographie-grid{
    grid-template-columns: 1fr;
  }

  .photographie-photo-container{
    height: 400px;
  }

  .photographie-navigation-previous{
    margin-left: 50px;
  }
  
  .photographie-navigation-next{
    margin-right: 50px;
  }
}

@media screen and (max-width: 450px) {
  .photographie-show-intro{
    // height: 500px;
  }
}
