$height: 700px;
$width: 600px;

.retouches-container{
  width: $width;
}

.retouche-grid-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.retouche-grid-buttons-img{
  margin: 4px;
  width: 180px;
  height: 180px;
  cursor: pointer;
  object-fit: cover;
  top: 0;

  &:hover{
    border: 1px solid black;
  }

  &:nth-child(1),
  &:nth-last-child(1){
    margin: 4px 0;
  }
}

.image-slider-container {
  position: relative;
  width: $width;

  img {
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }

  img:last-of-type {
    opacity: 0;
  }
}

.img-comp-container {
  position: relative;
  height: $height; 

  *::selection{
    background-color: rgba($color: #000000, $alpha: 0);
  }

  *::-moz-selection{
    background-color: rgba($color: #000000, $alpha: 0);
  }
}

.img-comp-img {
  position: absolute;
  overflow: hidden;
}

.img-comp-img img {
  width: $width;
  height: $height;
  object-fit: cover;
}

.img-comp-slider {
  position: absolute;
  z-index: 1;
  cursor: col-resize;
  width: 30px;
  height: 30px;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 80%;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
}
