html, body{
  height: 100%;
  font-family: "swear-display-regular", serif;
}

.hidden{
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
}

.intro{
  height: calc(100vh - 128px);
  display: flex;
  justify-content: center;
  padding-top: 100px;
  position: relative;
}

.text-intro{
  font-size: 8*4px;
  position: absolute;
  z-index: 1;
}

// MEDIA QUERIES
@media screen and (max-width: 1100px) {
  .intro{
    height: calc(100vh - 139px); 
  }
}

@media screen and (max-width: 900px) {
  .intro{
    height: calc(100vh - 89px); 
  }
}
