<div class="photographie-container" data-controller="slider-comparison" data-slider-comparison-target="slider">
  <div class="retouches-container">
    <% if user_signed_in? %>
      <div class="photographie-buttons-container">
        <%= link_to new_retouch_path, class: "photographie-add-button" do %>
          <i class="fa-solid fa-plus"></i> Ajouter
        <% end %>
      </div>
    <% end %>
    <div class="retouches-container-elements">
        <div class="retouche-grid-wrapper">
          <div class="img-comp-container">
            <div class="img-comp-img">
              <img class="" src="<%= cl_image_path "retouches/" + @retouches[0].after_photo.key %>" alt="retouche photo 1">
            </div>
            <div class="img-comp-img img-comp-overlay">
              <img class="" src="<%= cl_image_path "retouches/" + @retouches[0].before_photo.key %>" alt="retouche photo 2">
            </div>
          </div>
        </div>
    </div>
    <div class="retouche-grid-buttons">
      <% @retouches&.each do |retouche| %>
        <img class="retouche-grid-buttons-img" src="<%= cl_image_path "retouches/" + retouche.after_photo.key %>" alt="retouche photo">
      <% end %>
    </div>
  </div>
</div>
